
{% assign post_count = site.posts | size %}
{% assign post_limit = include.post_limit | default: post_count %}
{% assign word_limit = include.word_limit | default: 25 %}

{% for file in site.posts limit: post_limit %}
 * ### [{{ file.title | escape }}]({{ file.url }})<br/>
   **{{ file.date | date: "%b %-d, %Y" }}** - {{ file.excerpt | default: file.content | strip_html | truncatewords: word_limit }}
{% endfor %}

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
