<div class='container'>

    <div class='row' style='font-weight:bold; border-bottom:1px #000 solid;'>
        <div class='col-xs-6'>Title</div>
        <div class='col-xs-2' style='text-align:right;'>Word Count</div>
        <div class='col-xs-2'>Status</div>
        <div class='col-xs-2'>Last Edited On</div>
    </div>

{% assign path = include.path | replace: "/index.md", "/"%}
{% for file in site.pages %}
  {% if file.path contains path %}
  
    {% assign newCount = file.content | number_of_words %}
    {% assign wordCount = wordCount | plus: newCount %}
  
    {% if file.path contains "/summary.md" or file.path contains "/index.md" %}
    {% else %}
    
        {% capture statusHtml %}
            <span style="color:#ddd;">
            <i class="glyphicon glyphicon-pushpin" style='{% if file.status == "stub" %}color:#44f;{% endif %}' title="stub"></i>
            <i class="glyphicon glyphicon-file" style='{% if file.status == "placeholder" %}color:#44f;{% endif %}' title="placeholder"></i>
            <i class="glyphicon glyphicon-duplicate" style='{% if file.status == "draft" %}color:#44f;{% endif %}' title="draft"></i>
            <i class="glyphicon glyphicon-flag" style='{% if file.status == "tech" %}color:#44f;{% endif %}' title="tech"></i>
            <i class="glyphicon glyphicon-pencil" style='{% if file.status == "edit" %}color:#44f;{% endif %}' title="edit"></i>
            <i class="glyphicon glyphicon-ok" style='{% if file.status == "done" %}color:#44f;{% endif %}' title="done"></i>
            </span>
        {% endcapture %}
    
        <div class='row'>
            <div class='col-xs-6'><a href='{{ site.baseurl }}/{{ file.path | replace: '.md', '.html' }}'><b>{{ file.title }}:</b> {{ file.tagline }}</a></div>
            <div class='col-xs-2' style='text-align:right;'>{{ newCount }} words</div>
            <div class='col-xs-2'>{{ statusHtml }}</div>
            <div class='col-xs-2'>{{ file.lastReviewedOn | date: '%B %d, %Y' }}</div>
        </div>
    {% endif %}
  {% endif %}
{% endfor %}

        <div class='row' style='border-top:1px #000 solid;'>
            <div class='col-xs-6'>&nbsp;</div>
            <div class='col-xs-2' style='text-align:right;'><b>Total: </b>{{ wordCount }} words</div>
            <div class='col-xs-2' style='color:#bbb;'>[ about {{ wordCount | divided_by:300 }} pages ]</div>
            <div class='col-xs-2'>&nbsp;</div>
        </div>

</div>