{% assign pages = site.pages | sort: "path" %}

{% for file in pages %}
    {% if file.path contains "books/" and file.path contains "/summary.md" %}

----

<img src='{{ file.path | replace: "/summary.md", "/cover.png" | replace: "books/", "./" }}' alt='cover' style="float:right; width:170px; margin:0 20px;" />

## {{ file.title }}

{{ file.content | markdownify }}

<a href='{{ site.baseurl }}/{{ file.path | replace: "/summary.md", "/" }}'>Show Me &raquo;</a>
<div style="clear:both;">&nbsp;</div>

    {% endif %}
{% endfor %}
