<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-comments" data-href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" data-width="{{ site.jekyllfaces.comments.facebook.width | default: 580 }}" data-numposts="{{ site.jekyllfaces.comments.facebook.num_posts | default: 5 }}" colorscheme='{{ site.jekyllfaces.comments.facebook.colorscheme | default: "light" }}'></div>