<script>
var idcomments_acct = ‘{{ site.jekyllfaces.comments.intensedebate.account }}’;
var idcomments_post_id = '{{ page.id }}';
var idcomments_post_url = '{{ site.url }}{{ site.baseurl }}{{ page.url }}';
</script>
<span id=”IDCommentsPostTitle” style=”display:none”></span>
<script type=’text/javascript’ src=’http://www.intensedebate.com/js/genericCommentWrapperV2.js’></script>